<div class="contents">
  <div class="main rails-posts-new">
    <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_tag("/rails/create") do %>
      <div class="form">
        <div class="form-body">
          <textarea name="railscontent" class="textinput" placeholder="Railsの学習 To Do List&#13;&#10;ーから投稿は保存されませんー"></textarea>
          <div class="submit-btn"><input type="submit" value="投稿"></div>
        </div>
      </div>
    <% end %>
  </div>  
  </div>
</div>    
