<div class="ruby-contents">

  <div class="ruby-post-info">
    <h1>Ruby To Do Lists</h1>
    <p><%= link_to 'Ruby:投稿する', ruby_new_path , class: 'Ruby-post-btn'%></p>
  </div>

  <div class="main posts-index">
    <% @rubyposts.each do |rubypost| %>
      <div class="posts-index-item">
        <p><%= rubypost.content %></p>
        <p><%= l rubypost.created_at %></p>
      </div>
    <% end %>
    <%= paginate(@rubyposts) %>
  </div>

</div>








