   <div class="contents">
    <div class="top-content">
      <a href="/ruby"　class="Ruby">Ruby</a>
    </div>
    <div class="is-flex">
      <div class="left-content">
      </div>
      <div class="right-content">
      </div>
    </div>
    <div class="bottom-content">
    </div>
  </div>




