   <div class="contents">
    <div class="top-content">
      <%# <a href="/ruby"　class="Ruby">Ruby</a> %>
      <%# <%= link_to("TweetAppとは","/about") %> 
      <%= link_to 'Ruby', ruby_path, class: 'Ruby' %>
    </div>
    <div class="is-flex">
      <div class="left-content">
      </div>
      <div class="right-content">
      </div>
    </div>
    <div class="bottom-content">
    </div>
  </div>




