
.contents {
  background-color:rgba(255,192,203,0.5);
  background-blend-mode:lighten;
  height: 650px;
  margin: 0 auto;
  width: 960px;
  .top-content {
    background-color: #cc3300;
    height: 250px;
    width: 300px;
    margin: 0 auto;
    position: relative;
    border: 3px solid darkslateblue;
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: white;
      text-align: center;
      line-height: 250px;
      text-decoration: none;
      font-size: 57px;
      font-family: 'Caveat', cursive;
    }
    &:hover {
      opacity: 0.6;
    }
  }
  .is-flex {
    display: flex;
    .left-content {
      background-color: yellow;
      height: 150px;
      width: 50%;
      position: relative;
      border: 3px solid darkslateblue;
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: darkslategray;
      text-align: center;
      line-height: 150px;
      text-decoration: none;
      font-size: 57px;
      font-family: 'Caveat', cursive;
    }
    &:hover {
      opacity: 0.6;
    }
    }
    .right-content {
      background-color: gray;
      height: 150px;
      width: 50%;
      position: relative;
      border: 3px solid darkslateblue;
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: darkslategray;
      text-align: center;
      line-height: 150px;
      text-decoration: none;
      font-size: 57px;
      font-family: 'Caveat', cursive;
    }
    &:hover {
      opacity: 0.6;
    }
    } 
  }
  .bottom-content {
    background-color: yellowgreen;
    height: 250px;
    width: 600px;
    margin: 0 auto;
    position: relative;
      border: 3px solid darkslateblue;
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: white;
      text-align: center;
      line-height: 250px;
      text-decoration: none;
      font-size: 57px;
      font-family: 'Caveat', cursive;
    }
    &:hover {
      opacity: 0.6;
    }
  }
}

.footer {
  background-color: purple;
  height: 45px;
  // position: fixed;
  bottom: 0;
  width: 100%;
}

/* ruby ================================ */

.ruby-contents {
  background-color: white;
  // background-blend-mode:lighten;
  height: 650px;
  margin: 0 auto;
  width: 960px;
}

h1 {
  color: tomato;
  font-size: 43px;
}
.posts-index-item {
  padding: 20px 30px;
  // background-color: white;
  overflow: hidden;
  box-shadow: 0 1px 4px #98b188;
}

.ruby-post-info {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Caveat', cursive;
}
.Ruby-post-btn {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    // color: white;
    // color: tomato;
    color: black;
    background-color: rgb(212, 181, 124);
    border: 1px solid darkslategray;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    font-family: 'Caveat', cursive;
  &:hover {
    opacity: 0.6;
  }
}
